In [1]:
import pandas as pd 
# Step 1: Create the DataFrame 
data = { 
'col1': ['C1', 'C1', 'C2', 'C2', 'C2', 'C3', 'C2'], 
'col2': [1, 2, 3, 3, 4, 6, 5] 
} 
df = pd.DataFrame(data) 
print("Original DataFrame") 
print(df) 
# Step 2: Group by col1 and aggregate col2 as lists 
result = df.groupby('col1')['col2'].apply(list) 
print("\nGroup on the col1:") 
print(result)

Original DataFrame
  col1  col2
0   C1     1
1   C1     2
2   C2     3
3   C2     3
4   C2     4
5   C3     6
6   C2     5

Group on the col1:
col1
C1          [1, 2]
C2    [3, 3, 4, 5]
C3             [6]
Name: col2, dtype: object